
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/river.jpg" class="d-block w-100" alt="Foto de la hinchada con una bandera que dice 'Gracias por esta alegría' tomada el 15 de julio de 2023">
      <div class="carousel-caption d-none d-md-block">
        <h5>River campeón de la Liga Profesional del Fútbol Argentino</h5>
        <p>Partido vs Estudiantes de La Plata el 15/07/2023</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/cancha.jpg" class="d-block w-100" alt="Festejos del campeon">
      <div class="carousel-caption d-none d-md-block">
        <h5>River campeón de la Liga Profesional del Fútbol Argentino</h5>
        <p>Los festejos en el estadio Más Monumental</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/enzo.jpg" class="d-block w-100" alt="Enzo">
      <div class="carousel-caption d-none d-md-block">
        <h5>River campeón de la Liga Profesional del Fútbol Argentino</h5>
        <p>Enzo, ídolo eterno</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- <div class="speeddial-circle-demo">
  <p-speedDial [model]="items" [ngStyle]="{'right.px': 20, 'bottom.px': 20}" direction="up-left" type="quarter-circle" showIcon="pi pi-send" hideIcon="pi pi-times" buttonClassName="p-button-danger"></p-speedDial>
</div> -->
<div class="content">
<div style="height: 25px;"></div>
<div class="d-flex justify-content-center">
    <div class="card w-75 mb-3 border-dark text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true">Entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.cariverplate.com.ar/calendario-de-partidos">
                          <i class="pi pi-calendar" style="color: #708090"></i>
                        Partidos
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Sacá tus entradas para el próximo partido.</h5>
            <p class="card-text">Hasta 2 entradas por grupo de cancha.</p>
            <a href="https://login.riverid.com.ar" target="_blank" class="btn btn-danger">¡Adquirilas acá!</a>
        </div>
    </div>
</div>


<div class = "containter">
<div class="row justify-content-center row-cols-auto">
  <div class="col">
    <div class="card border-dark text-center" style="width: 31rem;">
      <div class="card-header">
        Actualidad
      </div>
      <div class="card-body">
        <p class="card-text">¡Enterate de todo lo que está sucediendo en el mundo River!</p>
        <a href="/noticias" class="btn btn-danger">Noticias</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-dark text-center" style="width: 31rem;">
      <div class="card-header">
        Conocé a nuestros jugadores
      </div>
      <div class="card-body">
        <p class="card-text">Te presentamos a quienes defendieron la camiseta del más grande a lo largo de la historia del club.</p>
        <a href="/ligas" class="btn btn-danger">Planteles</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>