<!-- tabla con PrimeNG -->

<div>
    
<p-card header="Equipos campeones de la Copa Libertadores">
    <span class="p-buttonset p-button-text p-button-danger">
        <button pButton label="1986" (click) = "getPlantel1986(); getDisplay()"></button>
        <button pButton label="1996" (click) = "getPlantel1996(); getDisplay()"></button>
        <button pButton label="2015" (click) = "getPlantel2015(); getDisplay()"></button> 
        <button pButton label="2018" (click) = "getPlantel2018(); getDisplay()" ></button>
    </span>
</p-card>

<div *ngIf="display; then thenBlock"></div>

<ng-template #thenBlock>
  
<div class="content">
<p-table [value]="responseFromAPI" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nacionalidad" style="width:20%">Nacionalidad <p-sortIcon field="nacionalidad"></p-sortIcon></th>
            <th pSortableColumn="posicion" style="width:20%">Posición <p-sortIcon field="posicion"></p-sortIcon></th>
            <th pSortableColumn="nombre" style="width:20%">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="nacimiento" style="width:20%">Fecha de nacimiento <p-sortIcon field="nacimiento"></p-sortIcon></th>
            <th style="width:20%">Ciudad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-responseFromAPI>
        <tr>
            <td>
                <img [src]="getBanderas(responseFromAPI.nacionalidad)" style="width: 30px">
                {{responseFromAPI.nacionalidad}}
              </td>
            <td>
                <img [src]="getPosicion(responseFromAPI.posicion)" style="width: 30px">
                {{responseFromAPI.posicion}}
              </td>
            <td>{{responseFromAPI.nombre}}</td>
            <td>{{responseFromAPI.nacimiento | date:'dd/MM/yyyy'}}</td>
            <td>{{responseFromAPI.ciudad}}</td>
        </tr>
    </ng-template>
</p-table>
</div>

</ng-template>