<div class = "fondoLogin">

	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Registrate</label>
				<input type="text" name="txt" placeholder="Usuario" required="" [(ngModel)]="signUpObj.user">
				<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="signUpObj.email">
				<input type="password" name="pswd" placeholder="Contraseña" required="" [(ngModel)]="signUpObj.pass">
				<button (click)="onSignUp()">Registrate</button>
			</form>
		</div>

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">Iniciar sesión</label>
				<input type="text" name="txt" placeholder="Usuario" required="" [(ngModel)]="loginObj.user">
				<input type="password" name="pswd" placeholder="Contraseña" required="" [(ngModel)]="loginObj.pass">
				<button (click)="onLogIn()">Login</button>
                <div></div>
			</form>
		</div>
    </div>
</div>
