<!-- 
  <div class="card text-bg-dark border-0 w-75 mb-3">
    <img src="/assets/images/meme2.jpg" class="card-img border-0" alt="error">
    <div class="card-img-overlay">
      <h5 class="card-title">Page not found</h5>
      <a href="/home" class="btn btn-danger">Back</a>
    </div>
  </div> -->

  <div class="d-flex justify-content-center align-items-center" style="height: 70vh; overflow: hidden;">
    <div class="card text-bg-dark border-0" style="width: 75%; max-width: 600px;">
      <img src="/assets/images/meme2.jpg" class="card-img border-0" alt="error">
      <div class="card-img-overlay">
        <h5 class="card-title">Page not found</h5>
        <a href="/home" class="btn btn-danger">Back</a>
      </div>
    </div>
  </div>