<div style="display: flex; justify-content: center; align-items: center; height: 74vh; flex-direction: column;">
    <div class="card mb-3 text-center border-0" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/demichelis.png" class="img-fluid rounded-start" alt="demichelis">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Liga Profesional de Fútbol 2023</h5>
            <a href="/plantelactual" class="btn btn-danger">Plantel actual</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 text-center border-0" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/gallardo.jpg" class="img-fluid rounded-start" alt="gallardo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Copa Libertadores</h5>
            <a href="/plantel" class="btn btn-danger">Planteles ganadores</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; 
    }
  </style>
  

  