<div style="display: flex; justify-content: center; align-items: center; height: 74vh;">
    <div class="card mb-3 text-center border-0" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/hinchada.jpg" class="img-fluid rounded-start" alt="hinchada">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Hacete socia del más grande.</h5>
            <p class="card-text lh-lg">Vas a tener prioridad para adquirir tus entradas para los partidos de River de local y además vas a poder disfrutar de las instalaciones del club.</p>
            <p class="card-text"><small class="text-body-secondary">¡Te esperamos!</small></p>
            <a href="https://login.riverid.com.ar/" target="_blank" class="btn btn-danger">Asociate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

