<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.cariverplate.com.ar/" target="_blank">
      <img src="/assets/images/logo.png" alt="Logo" width="24" height="30" class="d-inline-block align-text-top">
      Club Atlético River Plate
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tienda">Tienda River</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/socios">¡Asociate!</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

