  
  <!-- tabla con Bootstrap -->
  <div class="content">
    <div class="card border-0 text-center">
      <div class="card-header">
        <img src="/assets/images/logoafa.png" alt="Logo" width="24" height="30" class="d-inline-block align-text-top">
        Liga Profesional de Fútbol Argentino 2023
      </div>
      <div class="card-body">
        <p class="card-text">DT: Martín Gastón Demichelis</p>
      </div>
  </div>

  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Posición</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor = "let jugador of responseFromAPI">
        <td>
          <img [src]="getBanderas(jugador.nacionalidad)" style="width: 30px">
          {{jugador.nacionalidad}}
        </td>
        <td>
          <img [src]="getPosicion(jugador.posicion)" style="width: 30px">
          {{jugador.posicion}}
        </td>
        <td>{{jugador.nombre}}</td>
        <td>{{jugador.edad}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>