<div style="height: 110px;"></div>
<div class="d-flex justify-content-center">
    <div class="card w-75 mb-3 border-dark text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true">Entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.cariverplate.com.ar/calendario-de-partidos">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                          </svg>
                        Calendario de partidos
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Sacá tus entradas para el próximo partido.</h5>
            <p class="card-text">Hasta 2 entradas por grupo de cancha.</p>
            <a href="https://login.riverid.com.ar" target="_blank" class="btn btn-danger">¡Adquirilas acá!</a>
        </div>
    </div>
</div>

