<p-splitter [style]="{ height: '500px' }" styleClass="mb-5">
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center"></div>
      <p-card header="¡Bienvenido de vuelta, Pity!"[style]="{ width: '445px' , 'font-size': '14px', 'margin-bottom.px': 0 }">
        <ng-template pTemplate="header">
            <img src="/assets/images/pity.jpg" alt="La vuelta del Pity">
        </ng-template>
        <p>
          Después de cuatro años y ocho meses vuelve Gonzalo Martínez. Firmó contrato hasta dicembre del 2024.
        </p>
        <ng-template pTemplate="footer">
          <div style="display: flex; justify-content: center;">
            <a href="https://www.cariverplate.com.ar/pity-martinez-otra-vez-en-casa" target="_blank">
              <p-button label="Articulo oficial" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
            </a>
            <a href="https://www.ole.com.ar/river-plate/river-pity-martinez-firma-contrato-anuncio-foto-oficial_0_rXVXj7o8DU.html" target="_blank">
              <p-button label="Articulo Olé" styleClass="p-button-raised p-button-text p-button-success"></p-button>
            </a>
          </div>
        </ng-template>
      </p-card>
  </ng-template>
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center"></div>
      <p-card header="¡Vení a conocer Banda!"[style]="{ width: '445px' , 'font-size': '14px',  'margin-bottom.px': 0 }">
        <ng-template pTemplate="header">
            <img src="/assets/images/banda.jpg" alt="Juanfer en Racing">
        </ng-template>
        <p> 
          Ya se inauguró Banda, el restaurante de lujo ubicado en la Centenario Media con vista al campo de juego. 
        </p>
        <ng-template pTemplate="footer">
          <div style="display: flex; justify-content: center;">
            <a href="https://www.cariverplate.com.ar/de-lujo-banda-el-nuevo-restaurante-en-la-centenario-media" target="_blank">
              <p-button label="Artículo oficial" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
            </a>
            <a href="https://banda-river.meitre.com/" target="_blank" >
              <p-button label="¡Hacé tu reserva!" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
            </a>
          </div>
        </ng-template>
      </p-card>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center"></div>
    <p-card header="Goleada al equipo del Chiqui Tapia"[style]="{ width: '445px' , 'font-size': '14px', 'margin-bottom.px': 0 }">
      <ng-template pTemplate="header">
          <img src="/assets/images/barracas.jpg" alt="Victoria contra Barracas Central">
      </ng-template>
      <p>
        La noche del domingo comenzó 1-0 abajo, pero River remontó el resultado y terminó goleando a Barracas Central por 5-1.
      </p>
      <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: center;">
          <a href="https://www.cariverplate.com.ar/espectacular-goleada-en-casa" target="_blank" >
            <p-button label="Artículo oficial" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
          </a>
          <a href="https://www.ole.com.ar/futbol-primera/river-barracas-analisis-comentario-partido-lpf-goleada_0_UrtApmCcv0.html" target="_blank" >
            <p-button label="Articulo Olé" styleClass="p-button-raised p-button-text p-button-success"></p-button>
          </a>
        </div>
      </ng-template>
    </p-card>
</ng-template>
</p-splitter>